.footer {
  text-align: center;
  padding: 1rem;
  background-color: #1d3557;
  color: white;
  font-size: 0.9rem;
  margin: 0 auto;         
  max-width: 1200px;      
  border-radius: 0px;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
